.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #222427;
  margin-top: 60px;

}



.resort-container {

  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 50px;
  padding-right: 60px;
  padding-top: 60px;
  /* border-radius: 2px; */
  /* background-color: gray; */

}

.indvidual-resort {
  margin: 8px;
  border: 5px solid black;
  background-color: rgb(182, 219, 244);
}

.resort-img {
  max-width: 100%;
  width: 300px;
  padding-bottom: 8px;
  max-height: 100%;
  height: 250px;
  justify-content: center;

  /* align-content: center */
}


/* .resort-name {
  display: flex;
  justify-content: flex;
  padding-left: 20px;
}

.resort-location {
  display: flex;
  justify-content: flex;
  padding-left: 20px;

} */

.resort-btn {
  position: relative;
  bottom: 3px;
  padding: 3px;
  left: 0px;


}


.box {
  background-image: url("https://media.istockphoto.com/id/1252960723/photo/skiing-fresh-powder-on-a-ski-vacation.jpg?b=1&s=170667a&w=0&k=20&c=qXtlMm2foFpC-XsWCAXIrM39cf4168vvxz-VgR4T7vQ=");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  padding-top: 0px;
}

.back-btn {
  float: left;
  position: sticky;
  z-index: 99;
}

.background-tint {
  background-color: whitesmoke;
  background-blend-mode: multiply;
  /* opacity: .6; */
}


/* .resort-location {
  float: right
}

.resort-name {
  float: left
} */





nav {
  text-decoration: none;
  color: black;
  margin-right: 1em;
  position: static;
  display: flex;
  font-size: 1.2em;
  background-color: #6494a1;
  height: 80px;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

nav a,
nav h3 {
  text-decoration: none;
  color: black;
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}