.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.box {
  background-image: url("https://media.istockphoto.com/id/1252960723/photo/skiing-fresh-powder-on-a-ski-vacation.jpg?b=1&s=170667a&w=0&k=20&c=qXtlMm2foFpC-XsWCAXIrM39cf4168vvxz-VgR4T7vQ=");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

.background-tint {
  background-color: whitesmoke;
  background-blend-mode: multiply;
  /* opacity: .6; */
}

nav {
  text-decoration: none;
  color: black;
  margin-right: 1em;
  position: static;
  display: flex;
  font-size: 1.2em;
  background-color: #6494a1;
  height: 80px;
  width: 100%
}

nav a,
nav h3 {
  text-decoration: none;
  color: black;
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}