.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  text-align: center;
  color: black;
  align-items: center;
  margin-top: 60px;
  border: 2px solid black;
}


.resort-page {
  padding-left: 60px;
  padding-right: 60px;
}

.resort-container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  /* border-radius: 2px; */
  /* background-color: gray; */

}

.indvidual-resort {
  margin: 8px;
  border: 5px solid black;
  background-color: rgb(182, 219, 244);
}

.description {
  text-align: left;

}

.resort-title {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.resort-place {
  text-decoration: underline
}

.description {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  font-size: small;
  padding-left: 40px;

}

.resort-img {
  max-width: 100%;
  width: 300px;
  padding-bottom: 8px;
  max-height: 100%;
  height: 250px;
  justify-content: center;


  /* align-content: center */
}

.resort-title {
  padding-bottom: 20px;
}

/* .details-container {
  padding: 5px
} */

.detail-img-container {
  float: left;
  margin-right: 10px;
  border: 5px solid black;
  margin: 20px
}

.resort-overview {
  text-align: left;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: small;
}

.overview-txt {
  text-decoration: underline;
}

.detail-img {
  max-width: 100%;
  width: 600px;
  /* padding-bottom: 8px; */
  max-height: 100%;
  height: 550px;
  justify-content: left;
}

/* .resort-name {
  display: flex;
  justify-content: flex;
  padding-left: 20px;
}

.resort-location {
  display: flex;
  justify-content: flex;
  padding-left: 20px;

} */

.resort-btn {
  position: relative;
  bottom: 3px;
  padding: 3px;
  left: 0px;


}


.box {
  background-image: url("https://media.istockphoto.com/id/1252960723/photo/skiing-fresh-powder-on-a-ski-vacation.jpg?b=1&s=170667a&w=0&k=20&c=qXtlMm2foFpC-XsWCAXIrM39cf4168vvxz-VgR4T7vQ=");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  padding-top: 0px;
}

.back-btn {
  right: 88%;
  position: absolute;
  z-index: 99;
}

.comments {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  float: left;
  clear: left;
  border: 2px solid black;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 10px;

}

.dlt {
  font-size: 12px;
  margin-right: 10px
}

.upd {
  font-size: 12px
}

.comment-title {
  text-decoration: underline
}

.comment-w-btns {

  padding-left: 20px
}

.comment-txt {
  text-align: left;
  padding-left: 8px;
}

.form-list {
  padding-top: 50px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}

.input {
  float: left;
  width: 1000px;
  height: 75px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.submit-review-btn {
  margin-top: 15px;
  margin-bottom: 20px;
  float: left;
  bottom: 0px;
  clear: left;
  font-size: 12px
}

.review-title {
  font-size: larger;

}

.background-tint {
  background-color: whitesmoke;
  background-blend-mode: multiply;
  /* opacity: .6; */
}


/* .resort-location {
  float: right
}

.resort-name {
  float: left
} */





nav {
  text-decoration: none;
  color: black;
  position: static;
  font-size: 1.2em;
  background-color: #6494a1;
  height: 80px;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px
}

nav a,
nav h3 {
  text-decoration: none;
  color: black;
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}